body{
    background-image: url(../images/background.jpg);
    width: 100%;
    background-repeat: repeat-y;
    background-size: cover;
}

#UserInput{
    margin-bottom : 1%;
    width: 80%;
}
#welcom{
    display: block;
    text-align: center;
}

.response{
    border: 3px grey solid;
    border-radius: 5px;
    display: -webkit-inline-box;
    margin: 5px;
}
.response:hover{
    transform: scale(1.2);
    cursor: pointer;
    border-color: brown;
}

.foot{
    background-image: linear-gradient(to bottom, rgba(255,0,0,0), #21dc4c);
    border-bottom: 10px solid rgb(8, 8, 8);
    position: relative;
    width: 100%;
    bottom: 0px;
}

#repository{
    color: #186329;
}

.copyrights{
   box-sizing: inherit; 
}


#more:hover{
        background: #186329;
    cursor: pointer;
}

#more{
    padding-left: 5px;
    background-color: #32bb52;
    width: 120px;
    border-radius: 10px;
}

#BackToTop{
    margin-bottom: 15px;
    position: relative;
    float: right;
}
